@* showcategories Template File *@
@(categories: List[Category])



@main("Details for categories"){
<br>
<br>	
<div class="col-md-4">
<small>Details for categories</small>
<table class="table table-striped" >
        <thead>
          <tr>
            <th>Id</i></th>
            <th>Category name </th>
          </tr>
        </thead>
        <tbody>
        @for(category <- categories){
          <tr>
            <td>@category.getId()</td>
            <td>@category.getCategoryname()</td>
          </tr>
          }
        </tbody>
      </table>
      </div>
     
      }
